*.bak
FLExTools1.2.4
Thumbs.db
Install2.2.1
*~

AddOnsForXMLmind3.8beta3.zip
FLExToolsWithFLExTrans3.8beta3.zip
AddOnsForXMLmind3.8beta4.zip
FLExToolsWithFLExTrans3.8beta4.zip
Doc/UserDoc.xml~
AddOnsForXMLmind3.8beta5.zip
FLExToolsWithFLExTrans3.8beta5.zip
Previous Versions/AddOnsForXMLmind3.8beta5.zip
Previous Versions/FLExToolsWithFLExTrans3.8beta5.zip
Previous Versions/HermitCrabTools3.8.1.zip
Previous Versions/FLExToolsWithFLExTrans3.8.1.zip
Previous Versions/AddOnsForXMLmind3.8.1.zip
FLExToolsWithFLExTrans3.8.1.zip
HermitCrabTools3.8.1.zip
AddOnsForXMLmind3.8.1.zip
AddOnsForXMLmind3.9beta.zip
FLExToolsWithFLExTrans3.9beta.zip
Previous Versions/AddOnsForXMLmind3.9beta.zip
Previous Versions/FLExToolsWithFLExTrans3.9beta.zip
Previous Versions/HermitCrabTools3.9beta.zip
HermitCrabTools3.9beta.zip

RuleAssistantTests/CreateApertiumRules.py
RuleAssistantTests/*.t1x
RuleAssistantTests/*.bin
__pycache__
.vscode/launch.json
Dev/TopLevel/translations/.vscode/launch.json
Dev/TopLevel/translations/TopLevel_de.ts
Dev/TopLevel/translations/TopLevel_es.ts
Dev/Modules/translations/Modules_de.ts
Dev/Modules/translations/Modules_es.ts
Dev/Lib/translations/Lib_de.ts
Dev/Lib/translations/Lib_es.ts
Dev/Lib/Windows/translations/Windows_de.ts
Dev/Lib/Windows/translations/Windows_es.ts
