# relative paths are relative to the FlexTools folder
SourceTextName=Text1
AnalyzedTextOutputFile=Output\source_text.aper
TargetOutputANAFile=Output\myText.ana
TargetOutputSynthesisFile=Output\myText.syn
TargetTranferResultsFile=Output\target_text.aper
SourceComplexTypes=
SourceCustomFieldForEntryLink=Target Equivalent
SourceCustomFieldForSenseNum=Target Sense Number
BilingualDictOutputFile=Output\bilingual.dix
BilingualDictReplacementFile=..\replace.dix
TargetProject=Swedish-FLExTrans-Sample
TargetAffixGlossListFile=Output\target_affix_glosses.txt
TargetComplexFormsWithInflectionOn1stElement=
TargetComplexFormsWithInflectionOn2ndElement=
TargetMorphNamesCountedAsRoots=stem,bound stem,root,bound root,phrase
SourceMorphNamesCountedAsRoots=stem,bound stem,root,bound root,phrase 
SourceDiscontigousComplexTypes=
SourceDiscontigousComplexFormSkippedWordGrammaticalCategories=
AnalyzedTextTreeTranOutputFile=    
TreeTranInsertWordsFile=
TransferRulesFile=..\transfer_rules.t1x
# This property is in the form source_cat,target_cat. Multiple pairs can be defined        
CategoryAbbrevSubstitutionList=
CleanUpUnknownTargetWords=n
SentencePunctuation=.?;:!"' 