SourceTextName=affix test
AnalyzedTextOutputFile=Output\source_text.aper
AnalyzedTextTreeTranOutputFile=
TargetOutputANAFile=Output\myText.ana
TargetOutputSynthesisFile=Output\myText.syn
TargetTranferResultsFile=Output\target_text.aper
SourceComplexTypes=Phrasal Verb,
SourceCustomFieldForEntryLink=Target Equivalent
SourceCustomFieldForSenseNum=Target Sense Number
BilingualDictOutputFile=Output\bilingual.dix
BilingualDictReplacementFile=
TargetProject=Swedish-AffixTest
TargetPrefixGlossListFile=Output\target_pfx_glosses.txt
TargetComplexFormsWithInflectionOn1stElement=
TargetComplexFormsWithInflectionOn2ndElement=
TargetMorphNamesCountedAsRoots=stem,bound stem,root,bound root,phrase
SourceMorphNamesCountedAsRoots=stem,bound stem,root,bound root,phrase     
# This property is in the form source_cat,target_cat. Multiple pairs can be defined        
CategoryAbbrevSubstitutionList=
CleanUpUnknownTargetWords=n
SentencePunctuation=.?;:!"'”“’‘
