/* CSS pour formater le transfert Apertium dans XXE */ 

@property-value def-attr-background-color() #F5DEB3; /* wheat */
@property-value def-cat-background-color() #FFB6C1; /* lightpink */
@property-value def-list-background-color() #CCFFCC; /* lightgreen */
@property-value def-macro-background-color() #F09FF0; /* violet */
@property-value def-rule-background-color() #BFD0FF; /* paleblue */
@property-value def-var-background-color() #AFEEEE; /* paleturquoise */
@property-value def-pos-background-color() #FFDAB9; /* peach puff */
@property-value def-literal-background-color() #98FB98; /* pale green */
@property-value def-literal-tag-background-color() #FFFFB5; /* pale yellow */
@property-value def-chunk-background-color() #AEC6CF; /* pastel blue */

@property-group isCollapsible( is-collapsed, head-level )
{
    collapsible: yes;
    collapsed: is-collapsed;
    not-collapsible-head: head-level;
}

action:before
{
    content: collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png)))
    " action : ";
}
action
{
    display:block;
    padding-left:.175in;
    collapsible:yes;
    collapsed:no;
    not-collapsible-head:1;
}

and:before
{
    content: " et : ";
}
and
{
    display:block;
    padding-left:.125in;
}

append:before
{
    content: " ajouter à : "
    text-field(attribute,n,background-color,def-var-background-color(),columns,25);
}
append
{
    display:block;
    padding-left:.125in;
}
attr-item:before
{
    content:"étiquettes : ";
} 
attr-item[tags]
{
    display:block;
    content: " " text-field(attribute,tags,background-color,def-chunk-background-color(),columns,16);
    margin-left:.2in;
}

b:before
{
    content: " espace vide : ";
}
b
{
    display:block;
    padding-left:.125in;
}

begins-with:before
{
    content: " commence par : "check-box(attribute, caseless, label, "insensible à la casse", unchecked-value, "no", checked-value, "yes");
}
begins-with
{
    display:block;
    padding-left:.125in;
}

begins-with-list:before
{
    content: " commence par quelque chose dans la liste : "check-box(attribute, caseless, label, "insensible à la casse", unchecked-value, "no", checked-value, "yes");
}
begins-with-list
{
    display:block;
    padding-left:.125in;
}

call-macro:before
{
    content:"appeler macro : "
    text-field(attribute,n,background-color,def-macro-background-color(),columns,30);;
}
call-macro
{
    display:block;
    padding-left:.125in;
}

case-of:before
{
    content: " casse de - ";
}
case-of[side=sl]
{
    display:block;
    content: " élément : " text-field(attribute,pos,background-color,def-pos-background-color(),columns,1)
     "  côté : "  combo-box(attribute, side, 
                           color, #ff0000,
                           labels, "langue source\A langue cible", 
                           values, "sl\A tl")
     "  partie : " text-field(attribute,part,background-color,def-attr-background-color(),columns,25);
    padding-left:.125in;
}
case-of
{
    display:block;
    content: " élément : " text-field(attribute,pos,background-color,def-pos-background-color(),columns,1)
     "  côté : "  combo-box(attribute, side, 
                           color, #ce901b,
                           labels, "langue source\A langue cible", 
                           values, "sl\A tl")
     "  partie : " text-field(attribute,part,background-color,def-attr-background-color(),columns,25);
    padding-left:.125in;
}

cat-item:before
{
    content:"étiquettes : ";
}
cat-item[tags]
{
    display:block;
    content: " " text-field(attribute,tags,background-color,def-chunk-background-color(),columns,16) 
      " lemme : " text-field(attribute,lemma,background-color,def-chunk-background-color(),columns,10);
    margin-left:.2in;
}

choose:before
{
    content: "choisir : ";
}
choose
{
    display:block;
    padding-left:.125in;
}

chunk[namefrom]:before
{
    content: " morceau - obtenir le nom de la variable : "
             text-field(attribute,namefrom,background-color,def-var-background-color(),columns,25);;
             ;
}
chunk:before
{
    content: " morceau - nom : "
             text-field(attribute,name,background-color,def-chunk-background-color(),columns,16);;
;
}
chunk
{
    display:block;
    padding-left:.125in;
}

clip:before
{
    content: " clip - ";
}
clip[side=sl]
{
    display:block;
    content: " élément : " text-field(attribute,pos,background-color,def-pos-background-color(),columns,1)
     " côté : "  combo-box(attribute, side, 
                           color, #ff0000,
                           labels, "langue source\A langue cible", 
                           values, "sl\A tl")
     " partie : " text-field(attribute,part,background-color,def-attr-background-color(),columns,25)
     label(xpath,"if(ancestor::lu and ancestor::chunk,concat(' lien-vers : ',@link-to),'')");
    padding-left:.125in;
}

clip
{
    display:block;
    content: " élément : " text-field(attribute,pos,background-color,def-pos-background-color(),columns,1)
     " côté : "  combo-box(attribute, side, 
                           color, #ce901b,
                           labels, "langue source\A langue cible", 
                           values, "sl\A tl")
     " partie : " text-field(attribute,part,background-color,def-attr-background-color(),columns,25)
     label(xpath,"if(ancestor::lu and ancestor::chunk,concat(' lien-vers : ',@link-to),'')");
    padding-left:.125in;
}

concat:before
{
    content: " concat : ";
}
concat
{
    display:block;
    padding-left:.125in;
}

contains-substring:before
{
    content: " contient sous-chaîne : " check-box(attribute, caseless, label, "insensible à la casse", unchecked-value, "no", checked-value, "yes");
}
contains-substring
{
    display:block;
    padding-left:.125in;
}

def-attr:before
{
    content: collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png))) 
    " attribut : " text-field(attribute,n,background-color,def-attr-background-color(),columns,25);
}
def-attr
{
    display:block;
    padding-left:.125in;
    property-group: isCollapsible( yes, 1);
}

def-cat:before
{
    content: collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png))) 
    " catégorie : " text-field(attribute,n,background-color,def-cat-background-color(),columns,16);
}
def-cat
{
    display:block;
    padding-left:.125in;
    property-group: isCollapsible(yes, 1);
}

def-list:before
{
    content: collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png))) 
    " liste : " text-field(attribute,n,background-color,def-list-background-color(),columns,16);
}
def-list
{
    display:block;
    padding-left:.125in;
    property-group: isCollapsible( yes, 1);
}

def-macro:before
{
    content: collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png)))
    " macro : " text-field(attribute,n,background-color,def-macro-background-color(),columns,30)
    " nombre d'éléments = " 
    text-field(attribute,npar,background-color,def-pos-background-color(),columns,1);
}
def-macro
{
    display:block;
    padding-left:.125in;
    property-group: isCollapsible( yes, 1);
}

def-var:before
{
    content: " variable : " 
    text-field(attribute,n,background-color,def-var-background-color(),columns,25);
}
def-var
{
    display:block;
    padding-left:.125in;
}

ends-with:before
{
    content: " se termine par : "check-box(attribute, caseless, label, "insensible à la casse", unchecked-value, "no", checked-value, "yes");
}
ends-with
{
    display:block;
    padding-left:.125in;
}

ends-with-list:before
{
    content: " se termine par quelque chose dans la liste : "check-box(attribute, caseless, label, "insensible à la casse", unchecked-value, "no", checked-value, "yes");
}
ends-with-list
{
    display:block;
    padding-left:.125in;
}

equal:before
{
    content: " égal : " check-box(attribute, caseless, label, "insensible à la casse", unchecked-value, "no", checked-value, "yes");
}
equal
{
    display:block;
    padding-left:.125in;
}

get-case-from:before
{
    content: " obtenir la casse de " 
    " élément : " text-field(attribute,pos,background-color,def-pos-background-color(),columns,1);
}
get-case-from
{
    display:block;
    padding-left:.125in;
}

in:before
{
    content: " dans la liste : " check-box(attribute, caseless, label, "insensible à la casse", unchecked-value, "no", checked-value, "yes");
}
in
{
    display:block;
    padding-left:.125in;
}

let:before
{
    content: " let : ";
}
let
{
    display:block;
    padding-left:.125in;
}

list:before
{
    content: " liste : ";
}
list
{
    display:block;
    content: " " text-field(attribute,n,background-color,def-list-background-color(),columns,16);
    padding-left:.125in;
}

list-item:before
{
    content:"élément : ";
}
list-item[v]
{
    display:block;
    content: " " text-field(attribute,v,background-color,def-literal-background-color(),columns,16);
    margin-left:.2in;
}

lit:before
{
    content:" chaîne littérale : ";
}
lit
{
    display:block;
    content: " " text-field(attribute,v,background-color,def-literal-background-color(),columns,20);
    padding-left: .125in;
}

lit-tag:before
{
    content:" étiquette littérale : ";
}
lit-tag
{
    display:block;
    content: " " text-field(attribute,v,background-color,def-literal-tag-background-color(),columns,20);
    padding-left: .125in;
}

lu:before
{
    content: " unité lexicale : ";
}
lu
{
    display:block;
    padding-left:.125in;
}

mlu:before
{
    content: " multi-mot : ";
}
mlu
{
    display:block;
    padding-left:.125in;
}

modify-case:before
{
    content: " modifier la casse : ";
}
modify-case
{
    display:block;
    padding-left:.125in;
}

not:before
{
    content: " non : ";
}
not
{
    display:block;
    padding-left:.125in;
}

or:before
{
    content: " ou : ";
}
or
{
    display:block;
    padding-left:.125in;
}

otherwise:before
{
    content: collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png)))
    " sinon : ";
}
otherwise
{
    display:block;
    padding-left:.125in;
    property-group:isCollapsible(yes, 1);
}

out:before
{
    content: collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png)))
    " sortie : ";
}
out
{
    display:block;
    padding-left:.125in;
    property-group:isCollapsible(yes, 1);
}

pattern:before
{
    content: " motif : ";
}
pattern
{
    display:block;
    padding-left:.125in;
}

pattern-item:before
{
    content:"élément : ";
}
pattern-item
{
    display:block;
    content: " " text-field(attribute,n,background-color,def-cat-background-color(),columns,16);
    margin-left:.4in;
}

rule:before
{
    content: collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png))) 
    " règle : " text-field(attribute,comment,background-color,def-rule-background-color(),columns,35);
}
rule
{
    display:block;
    padding-left:.125in;
    property-group: isCollapsible( yes, 1);
}
section-def-attrs:before
{
   content:collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png)))
	" Attributs : ";
}
section-def-attrs
{
    display:block;
    property-group:isCollapsible(yes, 1);
}

section-def-cats:before
{
   content:collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png)))
	" Catégories : ";
}
section-def-cats
{
    display:block;
    property-group:isCollapsible(yes, 1);
}

section-def-lists:before
{
   display:block;
   content:collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png)))
	" Listes : ";
}
section-def-lists
{
    display:block;
    property-group:isCollapsible(yes, 0);
}

section-def-macros:before
{
   display:block;
   content:collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png)))
	" Macros : ";
}
section-def-macros
{
    display:block;
    property-group:isCollapsible(yes, 0);
}

section-def-vars:before
{
   display:block;
   content:collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png)))
	" Variables : ";
}
section-def-vars
{
    display:block;
    property-group:isCollapsible(yes, 0);
}
section-rules:before
{
   display:block;
   content:collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png)))
	" Règles : ";
}
section-rules
{
    display:block;
    property-group:isCollapsible(no, 0);
}

tag:before
{
    display:block;
    padding-left:.125in;
    content: " étiquette : " ;
}
tag
{
    display:block;
    padding-left:.125in;
}

tags:before
{
    content: collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png))) 
    " étiquettes : " ;
}
tags
{
    display:block;
    padding-left:.125in;
    property-group: isCollapsible( yes, 1);
}

test:before
{
    content: " test : " label(attribute,c);
}
test
{
    display:block;
    padding-left:.125in;
}

transfer
{
    display:block;
}

var:before
{
    content:" variable : ";
}
var
{
    display:block;
    content: " " text-field(attribute,n,background-color,def-var-background-color(),columns,25);
   padding-left:.125in;
}

when:before
{
    content: collapser(collapsed-icon, icon(url(resources/plus-box.png)), expanded-icon, icon(url(resources/minus-box.png))) 
    " quand : ";
}
when
{
    display:block;
    padding-left:.125in;
    property-group:isCollapsible(yes, 1);
}

with-param:before
{
    content: " avec élément : " 
    text-field(attribute,pos,background-color,def-pos-background-color(),columns,1);
}
with-param
{
    display:block;
    padding-left:.125in;
}