SourceTextName=Noun
TargetProject=Ejagham E Sample
SourceCustomFieldForEntryLink=Target Equivalent
ProperNounCategory=adj
NoWarningForUnanalyzedProperNouns=n
CacheData=n
UseComposedCharacters=y
SentencePunctuation=.?;:!"'
SourceMorphNamesCountedAsRoots=bound root,bound stem,discontiguous phrase,particle,phrase,root,stem,
TargetMorphNamesCountedAsRoots=bound root,bound stem,discontiguous phrase,particle,phrase,root,stem,
ProductionModeOutputFlex=y
SourceComplexFormsWithInflectionOn1stElement=
SourceComplexTypes=
SourceDiscontigousComplexTypes=
SourceDiscontigousComplexFormSkippedWordGrammaticalCategories=
TargetComplexFormsWithInflectionOn1stElement=
TargetComplexFormsWithInflectionOn2ndElement=
RebuildBilingualLexiconByDefaultInSenseLinker=y
LinkerSearchAnythingByDefault=n
TransferRulesFile=transfer_rules.t1x
TransferRulesFile2=
TransferRulesFile3=
CategoryAbbrevSubstitutionList=
AnalyzedTextOutputFile=Build\source_text-aper.txt
BilingualDictOutputFile=Output\bilingual.dix
BilingualDictReplacementFile=Output\replace.dix
TargetTranferResultsFile=Build\target_text-aper.txt
HermitCrabSynthesis=n
CleanUpUnknownTargetWords=n
TargetLexiconFilesFolder=Build
TargetOutputANAFile=Build\target_text-ana.txt
HermitCrabMasterFile=Build\target_words-HC.txt
HermitCrabConfigFile=Build\HermitCrab.config
HermitCrabParsesFile=Build\target_words-parses.txt
HermitCrabSurfaceFormsFile=Build\target_words-surface.txt
TargetOutputSynthesisFile=Output\target_text-syn.txt
TargetAffixGlossListFile=Build\target_affix_glosses.txt
TextOutRulesFile=Output\fixup_synthesis_rules.xml
TextInRulesFile=Output\fixup_paratext_rules.xml
TargetXampleCustomEntryField=
TargetXampleCustomAllomorphField=
SynthesisTestLimitPOS=
SynthesisTestLimitStemCount=5
SynthesisTestLimitLexeme=
SynthesisTestParsesOutputFile=Output\words-uf.txt
SynthesisTestSigmorphonOutputFile=Output\words-SIG.txt
SynthesisTestLogFile=Build\SynthTest-logfile.txt
TestbedFile=testbed.xml
TestbedResultsFile=Output\testbed_results.xml
AlternateParatextFolder=
RuleAssistantRulesFile=Output\RuleAssistantRules.xml
AnalyzedTextOutputFileForGloss=
GenStcCustomField=
GenStcLimitStemCount=
GenStcLimitLemmaN=
GenStcLimitPosN=
GenStcLimitSemDomainN=
GenStcLimitLemma1=
GenStcLimitPos1=
GenStcLimitSemDomain1=
GenStcLimitLemma2=
GenStcLimitPos2=
GenStcLimitSemDomain2=
TreeTranInsertWordsFile=
TreeTranRulesFile=
AnalyzedTextTreeTranOutputFile=
ClusterProjects=
LogStatistics=n
LogStatisticsUserID=
LogStatisticsOptOutQuestionAsked=y
