SourceTextName=The Hungry Mouse
AnalyzedTextOutputFile=Output\source_text.aper
AnalyzedTextTreeTranOutputFile=
TargetOutputANAFile=Output\myText.ana
TargetOutputSynthesisFile=Output\myText.syn
TargetTranferResultsFile=Output\target_text.aper
SourceComplexTypes=Phrasal Verb,
SourceCustomFieldForEntryLink=Gilaki Equivalent
SourceCustomFieldForSenseNum=Gilaki Sense Number
BilingualDictOutputFile=Output\bilingual.dix
BilingualDictReplacementFile=Output\replace.dix
TargetProject=Gilaki-Thesis-Testbed
TargetPrefixGlossListFile=Output\target_pfx_glosses.txt
TargetComplexFormsWithInflectionOn1stElement=Phrasal Verb,
TargetComplexFormsWithInflectionOn2ndElement=
TargetMorphNamesCountedAsRoots=stem,bound stem,root,phrase
SourceMorphNamesCountedAsRoots=stem,bound stem,root,phrase     
# This property is in the form source_cat,target_cat. Multiple pairs can be defined        
CategoryAbbrevSubstitutionList=
CleanUpUnknownTargetWords=n
SentencePunctuation=.؟؛:!"'›‹»«