SourceTextName=Left Behind
AnalyzedTextOutputFile=Output\source_text.aper
AnalyzedTextTreeTranOutputFile=
TargetOutputANAFile=Build\myText.ana
TargetOutputSynthesisFile=Output\myText.syn
TargetTranferResultsFile=Output\target_text.aper
SourceComplexTypes=
SourceCustomFieldForEntryLink=Target Equivalent
SourceCustomFieldForSenseNum=Target Sense Number
BilingualDictOutputFile=Output\bilingual.dix
BilingualDictReplacementFile=replace.dix
TargetProject=English-FLExTrans-Sample
TargetPrefixGlossListFile=Build\target_pfx_glosses.txt
TargetComplexFormsWithInflectionOn1stElement=
TargetComplexFormsWithInflectionOn2ndElement=
TargetMorphNamesCountedAsRoots=stem,bound stem,root,bound root,phrase
SourceMorphNamesCountedAsRoots=stem,bound stem,root,bound root,phrase     
SourceDiscontigousComplexTypes=
SourceDiscontigousComplexFormSkippedWordGrammaticalCategories=
AnalyzedTextTreeTranOutputFile=    
TreeTranInsertWordsFile=
TransferRulesFile=transfer_rules.t1x
TestbedFile=testbed.xml
TestbedResultsFile=Output\testbed_results.xml
# This property is in the form source_cat,target_cat. Multiple pairs can be defined        
CategoryAbbrevSubstitutionList=
CleanUpUnknownTargetWords=n
SentencePunctuation=.?;:!"'