SourceTextName=PCPATR 4.4.5.3 Ability
AnalyzedTextOutputFile=Output\source_text.aper
#AnalyzedTextTreeTranOutputFile=Output\treetran_output.xml
AnalyzedTextTreeTranOutputFile=
TargetOutputANAFile=Output\myText.ana
TargetOutputSynthesisFile=Output\myText.syn
TargetTranferResultsFile=Output\target_text.aper
SourceComplexTypes=Phrasal Verb,
SourceCustomFieldForEntryLink=Balochi Equivalent
SourceCustomFieldForSenseNum=Balochi Sense Number
BilingualDictOutputFile=Output\bilingual.dix
BilingualDictReplacementFile=Output\replace.dix
TargetProject=Balochi-Lutz-4.4.5.3 Ability-Testbed
TargetPrefixGlossListFile=Output\target_pfx_glosses.txt
TargetComplexFormsWithInflectionOn1stElement=
TargetComplexFormsWithInflectionOn2ndElement=Phrasal Verb,Transitive verb,
TargetMorphNamesCountedAsRoots=stem,bound stem,root,bound root,phrase
SourceMorphNamesCountedAsRoots=stem,bound stem,root,bound root,phrase     
# This property is in the form source_cat,target_cat. Multiple pairs can be defined        
CategoryAbbrevSubstitutionList=n-irreg,n
CleanUpUnknownTargetWords=n
SentencePunctuation=.?;:!"'؟