SourceTextName=Gen 7:8
TargetProject=Spanish-FLExTrans-TOFT2025
SourceCustomFieldForEntryLink=Target Equivalent
ProperNounCategory=nprop
NoWarningForUnanalyzedProperNouns=n
CacheData=n
UseComposedCharacters=y
SentencePunctuation=.?;:!"'
SourceMorphNamesCountedAsRoots=bound root,bound stem,discontiguous phrase,particle,phrase,root,stem,
TargetMorphNamesCountedAsRoots=bound root,bound stem,discontiguous phrase,particle,phrase,root,stem,
ProductionModeOutputFlex=y
SourceComplexTypes=
SourceDiscontigousComplexTypes=
SourceDiscontigousComplexFormSkippedWordGrammaticalCategories=
TargetComplexFormsWithInflectionOn1stElement=
TargetComplexFormsWithInflectionOn2ndElement=
RebuildBilingualLexiconByDefaultInSenseLinker=y
LinkerSearchAnythingByDefault=n
TransferRulesFile=transfer_rules-Spanish.t1x
TransferRulesFile2=
TransferRulesFile3=
CategoryAbbrevSubstitutionList=
AnalyzedTextOutputFile=Build\source_text-aper.txt
BilingualDictOutputFile=Output\bilingual.dix
BilingualDictReplacementFile=Output\replace.dix
TargetTranferResultsFile=Build\target_text-aper.txt
HermitCrabSynthesis=n
CleanUpUnknownTargetWords=n
TargetLexiconFilesFolder=Build
TargetOutputANAFile=Build\target_text-ana.txt
HermitCrabMasterFile=Build\target_words-HC.txt
HermitCrabConfigFile=Build\HermitCrab.config
HermitCrabParsesFile=Build\target_words-parses.txt
HermitCrabSurfaceFormsFile=Build\target_words-surface.txt
TargetOutputSynthesisFile=Output\target_text-syn.txt
TargetAffixGlossListFile=Build\target_affix_glosses.txt
TextOutRulesFile=Output\fixup_synthesis_rules.xml
TextInRulesFile=Output\fixup_paratext_rules.xml
SynthesisTestLimitPOS=n,
SynthesisTestLimitStemCount=5
SynthesisTestLimitLexeme=
SynthesisTestParsesOutputFile=Output\words-uf.txt
SynthesisTestSigmorphonOutputFile=Output\words-SIG.txt
SynthesisTestLogFile=Build\SynthTest-logfile.txt
TestbedFile=testbed.xml
TestbedResultsFile=Output\testbed_results.xml
RuleAssistantRulesFile=Output\RuleAssistantRules.xml
TreeTranInsertWordsFile=
TreeTranRulesFile=
AnalyzedTextTreeTranOutputFile=
ClusterProjects=
LogStatistics=n
LogStatisticsUserID=
LogStatisticsOptOutQuestionAsked=y
