flextoolslib==2026.4.24b0
fuzzywuzzy 					
Levenshtein 				
mixpanel 			    	
PyQt6==6.10.2				
regex 				        
pygetwindow 				
# Currently wildebeest doesn't work with Python 3.13
# echo wildebeest-nlp 
